{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}

<table>
  <tr>
    <th>Task</th>
    <th>Actions</th>
  </tr>

  {% for task in tasks %}
  <tr>
    <td>{{task.content}}</td>
    <td>
      <a href="delete/{{task.id}}">Delete</a> <br />
      <br />
      <a href="update/{{task.id}}">Update</a>
    </td>
  </tr>
  {% endfor %}
</table>

<form action="/" method="POST">
  <input type="text" name="task" id="content" />
  <input type="submit" value="Add Task" />
</form>
{% endblock %}
